*
{
    margin: 0;
    padding: 0;
}
/* Parent Container */
.imagecontainer
{
    position: relative;
}
.imagediv
{
    width: 60%;
    height: 60%;
}
.child{
position: absolute;
}
.watch
{
    z-index: 1;
}
.cap
{
    z-index: 2;

}
.jug
{
    
}